:root {
    --bg-color: rgb(42,42,42);
    --bg-gradient: linear-gradient(90deg, rgba(42,42,42,1) 0%, rgba(20,20,20,1) 100%);
    --game-bg-color: rgb(73,73,73);
    --default-font-color: rgb(255,255,255);
}

body {
    background-color: var(--bg-color);
    background-image: var(--bg-gradient);
    color: var(--default-font-color);
}

/* -- GAME DASHBOARD --  */

.game-dashboard {
    width: 50vw;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-dashboard form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* GAME CONTAINER */

#game-container {
    background-color: var(--game-bg-color);
    position: relative;
    margin-inline: auto;
    max-width: fit-content;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(var(--grid-width), 1fr);
    grid-template-rows: repeat(var(--grid-height), 1fr);
    outline: 5px solid black;
}

#game-container .game-block {
    background-image: url("../img/ground.png");
    background-position: center;
    background-size: 105%;
    width: 2.5em;
    aspect-ratio: 1/1;
    border: 1px solid rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game-container .game-block.empty {
    background-color: grey;
    opacity: 0.6;
}

#game-container .game-block.colliding {
    border-color: red;
}

#game-container .game-block.wall {
    background-color: black;
    background-image: url("../img/wall.png");
    background-position: center;
    background-size: 105%;
}

#game-container .game-block.bonus {
    background-color: gold;
    background-image: url("../img/bonus.png");
    background-position: center;
    background-size: 105%;
}

.player {
    position: absolute;
    width: 1.75em;
    height: 1.75em;
    border-radius: 100%;
    background-color: blue;
    transition: top .05s, left .05s;
}

.bomb {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    /* background-color: red; */
    background-image: url("../img/bomb.png");
    background-position: center;
    background-size: 100%;
}

.flames {
    position: absolute;
    background-color: darkred;
    transform: translate(-3em, 0);
}

.bonus-for-player {
    width: 1vw;
    height: 1vw;
}

.bonus-for-player.bonus-speed {
    background-color: limegreen;
}

.bonus-for-player.bonus-cd {
    background-color: royalblue;
}